@media (min-width: 481px) {
    .app-header-contents,
    .app-main-contents {
        /* 480 - 2 * 16 */
        width: 448px;
    }
}

.app-header-link,
.app-header-link:active,
.app-header-link:focus,
.app-header-link:hover,
.app-header-link:visited {
  text-decoration: none;
  color: var(--base-color-text);
  transition: color 0.1s linear;
}

.app-header-link:hover,
.app-header-link:focus {
  color: var(--primary-color-light);
}

h1 {
    font-size: 1.6rem;
}

#form {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-gap: 8px;
}

#form input {
    width: auto;
}

footer {
    align-self: center;
}

footer a {
    color: #212121;
}
